<!-- ნებისმიერ კომპონენტს რომელსაც ვქმნით ესაჭიროება შემოტანა -->
<!-- წინააღმდეგ შემთხვევაში ის არ გამოჩნდება -->
<app-nav-bar></app-nav-bar>


<!-- router-outlet ი წარმოადგენს უნივერსალურ კომპონენტს -->
<!-- რომელიც ჩატვირთავს ნებისმიერ სხვა კომპონენტს route -ის მიხედვით -->
<!-- route-ებს ვწერთ app-component-html ის შიგნით -->
<router-outlet></router-outlet>


<app-footer></app-footer>

<!-- typescript-დან ელემენტების გადმოსტანად საჭიროა -->

<!-- <h1>{{nameToDisplay}}</h1>
<button (click)="sayHello()">Say Hello </button>

<h3 *ngFor="let letter of letters">{{letter}}</h3>

<div class="user-container">
  <h1>სახელი:{{person.personName}}</h1>
  <h1>გვარი:{{person.personLastName}}</h1>
  <h1>ასაკი:{{person.personAge}}</h1>
  <h1>მსახიობია:{{person.personIsActor}}</h1>
</div> -->